body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2509px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:908px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4900 {
  position:absolute;
  left:5px;
  top:51px;
  width:170px;
  height:908px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4901 {
  position:absolute;
  left:2px;
  top:446px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u4902 {
  position:absolute;
  left:49px;
  top:69px;
  width:116px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u4903 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u4904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4904 {
  position:absolute;
  left:16px;
  top:66px;
  width:25px;
  height:25px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4905 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u4906 {
  position:absolute;
  left:187px;
  top:69px;
  width:254px;
  height:24px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u4907 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u4908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1248px;
  height:2px;
}
#u4908 {
  position:absolute;
  left:187px;
  top:98px;
  width:1247px;
  height:1px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u4910 {
  position:absolute;
  left:208px;
  top:139px;
  width:66px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u4911 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4912 {
  position:absolute;
  left:350px;
  top:134px;
  width:300px;
  height:25px;
}
#u4912_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u4913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u4913 {
  position:absolute;
  left:199px;
  top:229px;
  width:78px;
  height:1px;
  font-size:12px;
  color:#666666;
}
#u4914 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u4915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4915 {
  position:absolute;
  left:350px;
  top:223px;
  width:60px;
  height:30px;
}
#u4916 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u4917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u4917 {
  position:absolute;
  left:444px;
  top:230px;
  width:92px;
  height:1px;
  font-size:12px;
  color:#666666;
}
#u4918 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u4919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u4919 {
  position:absolute;
  left:215px;
  top:278px;
  width:64px;
  height:1px;
  font-size:12px;
  color:#666666;
}
#u4920 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u4921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u4921 {
  position:absolute;
  left:215px;
  top:322px;
  width:64px;
  height:1px;
  font-size:12px;
  color:#666666;
}
#u4922 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u4923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4923 {
  position:absolute;
  left:348px;
  top:278px;
  width:29px;
  height:20px;
  font-size:12px;
}
#u4924 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u4925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4925 {
  position:absolute;
  left:348px;
  top:324px;
  width:29px;
  height:20px;
  font-size:12px;
}
#u4926 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  white-space:nowrap;
}
#u4927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:563px;
}
#u4927 {
  position:absolute;
  left:1537px;
  top:0px;
  width:972px;
  height:563px;
}
#u4928 {
  position:absolute;
  left:2px;
  top:274px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:241px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4929 {
  position:absolute;
  left:1537px;
  top:598px;
  width:451px;
  height:241px;
}
#u4930 {
  position:absolute;
  left:2px;
  top:112px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u4931 {
  position:absolute;
  left:1546px;
  top:611px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u4932 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4933 {
  position:absolute;
  left:1964px;
  top:606px;
  width:15px;
  height:15px;
}
#u4934 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4935 {
  position:absolute;
  left:1551px;
  top:643px;
  width:47px;
  height:16px;
}
#u4936 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4935_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4937 {
  position:absolute;
  left:1591px;
  top:643px;
  width:47px;
  height:16px;
}
#u4938 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4937_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4939 {
  position:absolute;
  left:1638px;
  top:643px;
  width:47px;
  height:16px;
}
#u4940 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4939_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4941 {
  position:absolute;
  left:1685px;
  top:643px;
  width:47px;
  height:16px;
}
#u4942 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4941_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4943 {
  position:absolute;
  left:1732px;
  top:643px;
  width:47px;
  height:16px;
}
#u4944 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4943_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4945 {
  position:absolute;
  left:1551px;
  top:675px;
  width:47px;
  height:16px;
}
#u4946 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4945_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4947 {
  position:absolute;
  left:1591px;
  top:675px;
  width:47px;
  height:16px;
}
#u4948 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4947_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4949 {
  position:absolute;
  left:1638px;
  top:675px;
  width:47px;
  height:16px;
}
#u4950 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4949_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4951 {
  position:absolute;
  left:1685px;
  top:675px;
  width:47px;
  height:16px;
}
#u4952 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4951_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4953 {
  position:absolute;
  left:1732px;
  top:675px;
  width:47px;
  height:16px;
}
#u4954 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4953_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4955 {
  position:absolute;
  left:1779px;
  top:643px;
  width:47px;
  height:16px;
}
#u4956 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4955_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4957 {
  position:absolute;
  left:1826px;
  top:643px;
  width:47px;
  height:16px;
}
#u4958 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4957_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4959 {
  position:absolute;
  left:1873px;
  top:643px;
  width:47px;
  height:16px;
}
#u4960 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4959_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4961 {
  position:absolute;
  left:1779px;
  top:675px;
  width:47px;
  height:16px;
}
#u4962 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4961_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4963 {
  position:absolute;
  left:1826px;
  top:675px;
  width:47px;
  height:16px;
}
#u4964 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4963_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4965 {
  position:absolute;
  left:1873px;
  top:675px;
  width:47px;
  height:16px;
}
#u4966 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4965_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4967 {
  position:absolute;
  left:1551px;
  top:711px;
  width:47px;
  height:16px;
}
#u4968 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4967_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4969 {
  position:absolute;
  left:1591px;
  top:711px;
  width:47px;
  height:16px;
}
#u4970 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4969_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4971 {
  position:absolute;
  left:1638px;
  top:711px;
  width:47px;
  height:16px;
}
#u4972 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4971_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4973 {
  position:absolute;
  left:1685px;
  top:711px;
  width:47px;
  height:16px;
}
#u4974 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4973_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4975 {
  position:absolute;
  left:1732px;
  top:711px;
  width:47px;
  height:16px;
}
#u4976 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4975_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4977 {
  position:absolute;
  left:1779px;
  top:711px;
  width:47px;
  height:16px;
}
#u4978 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4977_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4979 {
  position:absolute;
  left:1826px;
  top:711px;
  width:47px;
  height:16px;
}
#u4980 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4979_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4981 {
  position:absolute;
  left:1873px;
  top:711px;
  width:47px;
  height:16px;
}
#u4982 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4981_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4983 {
  position:absolute;
  left:1551px;
  top:749px;
  width:47px;
  height:18px;
}
#u4984 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u4983_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4985 {
  position:absolute;
  left:1581px;
  top:792px;
  width:68px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4986 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u4987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4987 {
  position:absolute;
  left:1675px;
  top:792px;
  width:68px;
  height:30px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4988 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u4989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u4989 {
  position:absolute;
  left:187px;
  top:378px;
  width:254px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u4990 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u4991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1248px;
  height:2px;
}
#u4991 {
  position:absolute;
  left:187px;
  top:407px;
  width:1247px;
  height:1px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4992 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u4993 {
  position:absolute;
  left:197px;
  top:438px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u4994 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4995 {
  position:absolute;
  left:268px;
  top:434px;
  width:80px;
  height:25px;
}
#u4995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u4996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u4996 {
  position:absolute;
  left:358px;
  top:436px;
  width:43px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u4997 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u4998 {
  position:absolute;
  left:197px;
  top:521px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u4999 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5000 {
  position:absolute;
  left:249px;
  top:518px;
  width:127px;
  height:22px;
}
#u5000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u5000_input:disabled {
  color:grayText;
}
#u5001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5001 {
  position:absolute;
  left:390px;
  top:522px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u5002 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5003 {
  position:absolute;
  left:451px;
  top:517px;
  width:80px;
  height:25px;
}
#u5003_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u5004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5004 {
  position:absolute;
  left:541px;
  top:522px;
  width:72px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u5005 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u5006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5006 {
  position:absolute;
  left:249px;
  top:565px;
  width:92px;
  height:20px;
  font-size:12px;
}
#u5007 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u5008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5008 {
  position:absolute;
  left:208px;
  top:180px;
  width:66px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u5009 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u5010 {
  position:absolute;
  left:348px;
  top:180px;
  width:150px;
  height:22px;
}
#u5010_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u5010_input:disabled {
  color:grayText;
}
#u5011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:45px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5012 {
  position:absolute;
  left:5px;
  top:5px;
  width:1366px;
  height:45px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5013 {
  position:absolute;
  left:2px;
  top:14px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u5014 {
  position:absolute;
  left:19px;
  top:14px;
  width:63px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u5015 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5016 {
  position:absolute;
  left:176px;
  top:21px;
  width:101px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5017 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5018 {
  position:absolute;
  left:265px;
  top:21px;
  width:80px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5019 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5020 {
  position:absolute;
  left:362px;
  top:21px;
  width:101px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5021 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5022 {
  position:absolute;
  left:455px;
  top:21px;
  width:101px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5023 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5024 {
  position:absolute;
  left:639px;
  top:21px;
  width:101px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5025 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5026 {
  position:absolute;
  left:546px;
  top:21px;
  width:101px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5027 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5028 {
  position:absolute;
  left:733px;
  top:21px;
  width:101px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5029 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5030 {
  position:absolute;
  left:1297px;
  top:18px;
  width:25px;
  height:25px;
}
#u5031 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u5032 {
  position:absolute;
  left:1208px;
  top:21px;
  width:101px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u5033 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5034 {
  position:absolute;
  left:1257px;
  top:25px;
  width:15px;
  height:15px;
}
#u5035 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5036_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:25px;
}
#u5036 {
  position:absolute;
  left:1309px;
  top:13px;
  width:15px;
  height:15px;
}
#u5037 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u5038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u5038 {
  position:absolute;
  left:189px;
  top:474px;
  width:254px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u5039 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u5040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1248px;
  height:2px;
}
#u5040 {
  position:absolute;
  left:185px;
  top:503px;
  width:1247px;
  height:1px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5041 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5042_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:175px;
  height:21px;
}
#u5042p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:167px;
  height:1px;
}
#u5042p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:177px;
  height:21px;
}
#u5042p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u5042p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u5042p002 {
  position:absolute;
  left:150px;
  top:-11px;
  width:22px;
  height:22px;
}
#u5042p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u5042.compound {
  width:0px;
  height:0px;
}
#u5042 {
  position:absolute;
  left:411px;
  top:444px;
  width:165px;
  height:1px;
}
#u5043 {
  position:absolute;
  left:2px;
  top:-8px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5044 {
  position:absolute;
  left:586px;
  top:437px;
  width:277px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5045 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u5046_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:175px;
  height:21px;
}
#u5046p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:167px;
  height:1px;
}
#u5046p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:177px;
  height:21px;
}
#u5046p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u5046p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u5046p002 {
  position:absolute;
  left:150px;
  top:-11px;
  width:22px;
  height:22px;
}
#u5046p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u5046.compound {
  width:0px;
  height:0px;
}
#u5046 {
  position:absolute;
  left:587px;
  top:531px;
  width:165px;
  height:1px;
}
#u5047 {
  position:absolute;
  left:2px;
  top:-8px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5048 {
  position:absolute;
  left:762px;
  top:524px;
  width:277px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5049 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u5050_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:175px;
  height:21px;
}
#u5050p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:167px;
  height:1px;
}
#u5050p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:177px;
  height:21px;
}
#u5050p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u5050p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u5050p002 {
  position:absolute;
  left:150px;
  top:-11px;
  width:22px;
  height:22px;
}
#u5050p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u5050.compound {
  width:0px;
  height:0px;
}
#u5050 {
  position:absolute;
  left:546px;
  top:236px;
  width:165px;
  height:1px;
}
#u5051 {
  position:absolute;
  left:2px;
  top:-8px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5052 {
  position:absolute;
  left:721px;
  top:229px;
  width:281px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5053 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u5054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5054 {
  position:absolute;
  left:296px;
  top:684px;
  width:80px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5055 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u5056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5056 {
  position:absolute;
  left:417px;
  top:684px;
  width:80px;
  height:35px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5057 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u5058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5060_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:93px;
}
#u5060p000 {
  position:absolute;
  left:-42px;
  top:41px;
  width:85px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5060p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:105px;
  height:11px;
}
#u5060p001 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1px;
  height:2px;
}
#u5060p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u5060p002 {
  position:absolute;
  left:-11px;
  top:68px;
  width:22px;
  height:22px;
}
#u5060p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u5060.compound {
  width:0px;
  height:0px;
}
#u5060 {
  position:absolute;
  left:331px;
  top:727px;
  width:1px;
  height:83px;
}
#u5061 {
  position:absolute;
  left:2px;
  top:34px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5062 {
  position:absolute;
  left:311px;
  top:820px;
  width:451px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u5063 {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  white-space:nowrap;
}
#u5064_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:69px;
  height:21px;
}
#u5064p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:61px;
  height:1px;
}
#u5064p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:71px;
  height:21px;
}
#u5064p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u5064p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u5064p002 {
  position:absolute;
  left:44px;
  top:-11px;
  width:22px;
  height:22px;
}
#u5064p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u5064.compound {
  width:0px;
  height:0px;
}
#u5064 {
  position:absolute;
  left:775px;
  top:830px;
  width:59px;
  height:1px;
}
#u5065 {
  position:absolute;
  left:2px;
  top:-8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5067 {
  position:absolute;
  left:860px;
  top:692px;
  width:300px;
  height:170px;
}
#u5068 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5069 {
  position:absolute;
  left:860px;
  top:727px;
  width:300px;
  height:1px;
}
#u5070 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5071 {
  position:absolute;
  left:869px;
  top:701px;
  width:29px;
  height:20px;
}
#u5072 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5073 {
  position:absolute;
  left:1143px;
  top:701px;
  width:10px;
  height:16px;
}
#u5074 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u5075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5075 {
  position:absolute;
  left:875px;
  top:769px;
  width:131px;
  height:20px;
}
#u5076 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u5077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5077 {
  position:absolute;
  left:860px;
  top:820px;
  width:300px;
  height:1px;
}
#u5078 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u5079 {
  position:absolute;
  left:968px;
  top:823px;
  width:80px;
  height:35px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u5080 {
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
