body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1445px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:1042px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5699 {
  position:absolute;
  left:5px;
  top:51px;
  width:170px;
  height:1042px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5700 {
  position:absolute;
  left:2px;
  top:513px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5701 {
  position:absolute;
  left:49px;
  top:69px;
  width:116px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5702 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u5703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5703 {
  position:absolute;
  left:16px;
  top:66px;
  width:25px;
  height:25px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5704 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5705 {
  position:absolute;
  left:234px;
  top:82px;
  width:67px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u5706 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u5707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5707 {
  position:absolute;
  left:234px;
  top:120px;
  width:57px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u5708 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5709 {
  position:absolute;
  left:343px;
  top:79px;
  width:300px;
  height:22px;
}
#u5709_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
}
#u5709_input:disabled {
  color:grayText;
}
#u5710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u5710 {
  position:absolute;
  left:198px;
  top:175px;
  width:254px;
  height:24px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u5711 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u5712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1248px;
  height:2px;
}
#u5712 {
  position:absolute;
  left:198px;
  top:204px;
  width:1247px;
  height:1px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5713 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5714 {
  position:absolute;
  left:198px;
  top:224px;
  width:100px;
  height:18px;
}
#u5715 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5714_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5716 {
  position:absolute;
  left:198px;
  top:263px;
  width:100px;
  height:18px;
}
#u5717 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5716_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5718 {
  position:absolute;
  left:234px;
  top:307px;
  width:100px;
  height:16px;
}
#u5719 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5718_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5720 {
  position:absolute;
  left:263px;
  top:368px;
  width:100px;
  height:16px;
}
#u5721 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5720_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5722 {
  position:absolute;
  left:263px;
  top:403px;
  width:100px;
  height:18px;
}
#u5723 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5722_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5724 {
  position:absolute;
  left:289px;
  top:438px;
  width:100px;
  height:18px;
}
#u5725 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5724_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5726 {
  position:absolute;
  left:364px;
  top:438px;
  width:100px;
  height:18px;
}
#u5727 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5726_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5728 {
  position:absolute;
  left:443px;
  top:438px;
  width:100px;
  height:18px;
}
#u5729 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5728_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5730 {
  position:absolute;
  left:525px;
  top:438px;
  width:100px;
  height:18px;
}
#u5731 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5730_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5732 {
  position:absolute;
  left:596px;
  top:439px;
  width:100px;
  height:18px;
}
#u5733 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5732_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5734 {
  position:absolute;
  left:242px;
  top:490px;
  width:100px;
  height:16px;
}
#u5735 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5734_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5736 {
  position:absolute;
  left:264px;
  top:557px;
  width:100px;
  height:16px;
}
#u5737 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5736_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5738 {
  position:absolute;
  left:264px;
  top:590px;
  width:100px;
  height:18px;
}
#u5739 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5738_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5740 {
  position:absolute;
  left:296px;
  top:623px;
  width:100px;
  height:18px;
}
#u5741 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5740_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5742 {
  position:absolute;
  left:371px;
  top:623px;
  width:100px;
  height:18px;
}
#u5743 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5742_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5744 {
  position:absolute;
  left:450px;
  top:623px;
  width:100px;
  height:18px;
}
#u5745 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5744_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5746 {
  position:absolute;
  left:532px;
  top:623px;
  width:100px;
  height:18px;
}
#u5747 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5746_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5748 {
  position:absolute;
  left:603px;
  top:623px;
  width:100px;
  height:18px;
}
#u5749 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5748_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u5750 {
  position:absolute;
  left:289px;
  top:263px;
  width:25px;
  height:14px;
}
#u5751 {
  position:absolute;
  left:2px;
  top:-1px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u5752 {
  position:absolute;
  left:293px;
  top:305px;
  width:20px;
  height:11px;
}
#u5753 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:11px;
}
#u5754 {
  position:absolute;
  left:299px;
  top:490px;
  width:20px;
  height:11px;
}
#u5755 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5756 {
  position:absolute;
  left:198px;
  top:677px;
  width:100px;
  height:18px;
}
#u5757 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5756_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u5758 {
  position:absolute;
  left:296px;
  top:677px;
  width:25px;
  height:14px;
}
#u5759 {
  position:absolute;
  left:2px;
  top:-1px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5760 {
  position:absolute;
  left:264px;
  top:716px;
  width:100px;
  height:16px;
}
#u5761 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5760_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5762 {
  position:absolute;
  left:358px;
  top:716px;
  width:100px;
  height:16px;
}
#u5763 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5762_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5764 {
  position:absolute;
  left:458px;
  top:716px;
  width:100px;
  height:16px;
}
#u5765 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5764_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5766 {
  position:absolute;
  left:558px;
  top:716px;
  width:100px;
  height:16px;
}
#u5767 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5766_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5768 {
  position:absolute;
  left:658px;
  top:716px;
  width:100px;
  height:16px;
}
#u5769 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5768_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5770 {
  position:absolute;
  left:264px;
  top:750px;
  width:100px;
  height:16px;
}
#u5771 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5770_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5772 {
  position:absolute;
  left:358px;
  top:750px;
  width:100px;
  height:16px;
}
#u5773 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5772_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5774 {
  position:absolute;
  left:458px;
  top:750px;
  width:100px;
  height:16px;
}
#u5775 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5774_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5776 {
  position:absolute;
  left:558px;
  top:750px;
  width:100px;
  height:16px;
}
#u5777 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5776_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5778 {
  position:absolute;
  left:658px;
  top:750px;
  width:100px;
  height:16px;
}
#u5779 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5778_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5780 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:45px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5781 {
  position:absolute;
  left:5px;
  top:5px;
  width:1366px;
  height:45px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5782 {
  position:absolute;
  left:2px;
  top:14px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u5783 {
  position:absolute;
  left:19px;
  top:14px;
  width:63px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u5784 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u5785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5785 {
  position:absolute;
  left:176px;
  top:21px;
  width:101px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5786 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5787 {
  position:absolute;
  left:265px;
  top:21px;
  width:80px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5788 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5789 {
  position:absolute;
  left:362px;
  top:21px;
  width:101px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5790 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5791 {
  position:absolute;
  left:455px;
  top:21px;
  width:101px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5792 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5793 {
  position:absolute;
  left:639px;
  top:21px;
  width:101px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5794 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5795 {
  position:absolute;
  left:546px;
  top:21px;
  width:101px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5796 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5797 {
  position:absolute;
  left:733px;
  top:21px;
  width:101px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u5798 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5799 {
  position:absolute;
  left:1297px;
  top:18px;
  width:25px;
  height:25px;
}
#u5800 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u5801 {
  position:absolute;
  left:1208px;
  top:21px;
  width:101px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u5802 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5803 {
  position:absolute;
  left:1257px;
  top:25px;
  width:15px;
  height:15px;
}
#u5804 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5805_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:25px;
}
#u5805 {
  position:absolute;
  left:1309px;
  top:13px;
  width:15px;
  height:15px;
}
#u5806 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u5807 {
  position:absolute;
  left:263px;
  top:332px;
  width:100px;
  height:18px;
}
#u5808 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5807_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5809 {
  position:absolute;
  left:264px;
  top:522px;
  width:100px;
  height:18px;
}
#u5810 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5809_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
